body, div, p {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.heading {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 16px 250px;
}

/* Flexing navbar & heading logo/links */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading-links {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

/* Flex for main Hero section */
.hero {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0px;
}

.hero-col1 {
    display: flex;
    flex-flow: column wrap;
    width: 450px;
}

.hero-image {
    width: 550px;
    height: auto;
}

.action-button {
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
}

/* Flex for info section */
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.info-items {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 48px;
}

.item {
    display: flex;
    flex-flow: column wrap;
    width: 160px;
    align-items: center;
    text-align: center;
}

.item > img{
    width: 160px;
    height: auto;
}

/* Flex for quote section */
.quote-section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 40px 530px;
}

.quote-source {
    align-self: flex-end;
    padding: 0px 16px;
}

/* Flex action banner */
.action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
}

.action-banner {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.action-col {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

/* Fonts & Colors*/
.heading,
.footer {
    background-color: #1F2937;
}

.hero-main-text,
.logo,
.action-button {
    color: #F9FAF8;
}

.hero-main-text {
    font-size: 48px;
    font-weight: extra-bold;
}

.logo {
    font-size: 24px;
}

.hero-secondary-text,
.heading-links {
    font-size: 18px;
    color: #E5E7EB;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quote-section {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.action-button,
.action-banner {
    background-color: #3882F6;
}